<div class="mt-6">
  <!-- Logs Section -->
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
    <div class="flex justify-between">
      <h4 class="text-md font-semibold mb-4 text-gray-800 dark:text-gray-200">
        <i class="fas fa-terminal"></i> Connection Logs
      </h4>
      <h4 class="text-gray-800 dark:text-gray-200 font-bold">
        Whatsback Client:
        <span id="connection-status" class="text-red-500">Disconnected</span>
      </h4>
    </div>
    <div
      class="logs-container bg-gray-800 dark:bg-gray-700 text-gray-200 rounded-lg p-4 h-64 overflow-y-auto"
    >
      <ul class="logs list-none space-y-2"></ul>
    </div>
  </div>
</div>
