<!-- QR Code Container -->
<div
  class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-6 text-center hidden qrcode-container"
>
  <img src="" alt="QR Code" id="qrcode" class="mx-auto" />
</div>
