<div
  id="donateModal"
  class="fixed inset-0 z-50 hidden bg-black/50 backdrop-blur-sm"
>
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-white dark:bg-zinc-800 rounded-lg p-6 w-full max-w-md mx-4">
      <h3 class="text-lg font-bold mb-4 dark:text-white" id="modalTitle">
        Support & Donation
      </h3>
      <p class="dark:text-white">
        If you find Whatsback Web useful and want to support the project, you
        can make a donation to the project.
      </p>
      <ul class="dark:text-white my-2">
        <li>
          <strong class="block">GitHub Sponsor</strong>
          <a
            href="https://github.com/sponsors/darkterminal"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:underline text-blue-500"
            >https://github.com/sponsors/darkterminal</a
          >
        </li>
        <li>
          <strong class="block">Saweria</strong>
          <a
            href="https://saweria.co/darkterminal"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:underline text-blue-500"
            >https://saweria.co/darkterminal</a
          >
        </li>
      </ul>
      <div class="flex justify-center space-x-2">
        <button
          type="button"
          id="close-modal"
          class="px-4 py-2 bg-pink-600 hover:bg-pink-700 text-white rounded-lg"
        >
          Done
        </button>
      </div>
    </div>
  </div>
</div>
